<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_Seller::manager"
             title="Marketplace Manager"
             module="Codilar_Seller"
             sortOrder="20"
             resource="Codilar_Seller::manager"
        />
        <add id="Codilar_Seller::add_seller"
             title="Seller List"
             module="Codilar_Seller"
             sortOrder="20"
             parent="Codilar_Seller::manager"
             action="seller/lists"
             resource="Codilar_Seller::add_seller"/>

        <add id="Codilar_Seller::add_commission"
             title="Seller Commission"
             module="Codilar_Seller"
             sortOrder="20"
             parent="Codilar_Seller::manager"
             action="seller/commission"
             resource="Codilar_Seller::add_commission"/>
    </menu>
</config>